body {
    background-color: rgb(41, 41, 41);
}

#container {
    margin: auto;
    width: 50%;
    text-align: justify;


}

h1 {
    position: relative;
    text-align: center;
    display: center;
    color: rgb(202, 199, 199);
}

h2 {
    position: relative;
    text-align: center;
    display: center;
    color: rgb(202, 199, 199);
}


#board {
    display: grid;
    position: relative;
    left: 130px;
    margin: auto;
    width: 56%;
    height: 50%;
    grid-template-columns: [line1] 150px [line2] 150px [line3] 150px;
}

.zero {
    border: solid;
    border-top: 0px;
    border-left: 0px;


}

.one {
    border: solid;
    border-top: 0px;

}

.two {
    border: solid;
    border-top: 0px;
    border-right: 0px;

}

.three {
    border: solid;
    border-left: 0px;

}

.four {
    border: solid;

}

.five {
    border: solid;
    border-right: 0px;


}

.six {
    border: solid;
    border-left: 0px;
    border-bottom: 0px;

}

.seven {
    border: solid;
    border-bottom: 0px;

}

.eight {
    border: solid;
    border-right: 0px;
    border-bottom: 0px;

}


.square {
    display: flex;
    width: 148px;
    height: 145px;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(202, 199, 199);
    
}

#anotherContainer {
    position: relative;
    text-align: center;
}

.pushme {
    height: 50px;
    width: 100px;
    position: relative;
    top: 20px;
    margin: 20px
}